body
	font-family:  "Arial", sans
	margin: 0px
	overflow-x: hidden
	position: relative
p
	margin: 0px
	
#one
	background-color:  #E0C9A2
	height: 400px
	
.surf-1
	opacity: 0.6
	position: absolute
	right: 0px
	top: 0px