@import "compass/css3/images"

body
	font-family:  "Arial", sans
	margin: 0px
	overflow-x: hidden
	position: relative
	background-color: #666
p
	margin: 0px
	
#one
	background-color: #E0C9A2
	height: 400px