/* line 3, ../sass/screen.sass */
body {
  font-family: "Arial", sans;
  margin: 0px;
  overflow-x: hidden;
  position: relative;
  background-color: #666666;
}

/* line 9, ../sass/screen.sass */
p {
  margin: 0px;
}

/* line 12, ../sass/screen.sass */
#one {
  background-color: #e0c9a2;
  height: 400px;
}
