/* line 5, ../sass/screen.sass */
html {
  overflow-x: hidden;
}

/* line 8, ../sass/screen.sass */
body {
  font-family: "Arial", sans;
  margin: 0px;
  overflow-x: hidden;
  position: relative;
  background-color: #666666;
}

/* line 14, ../sass/screen.sass */
p {
  margin: 0px;
}

/* line 17, ../sass/screen.sass */
#one {
  background-color: #e0c9a2;
  overflow: hidden;
  position: relative;
}
/* line 22, ../sass/screen.sass */
#one p {
  position: absolute;
}
/* line 25, ../sass/screen.sass */
#one svg {
  position: absolute;
  z-index: 6;
}
/* line 29, ../sass/screen.sass */
#one .part-one {
  color: #333333;
  position: absolute;
  top: 2em;
  left: 1em;
}
/* line 35, ../sass/screen.sass */
#one .part-one:first-letter {
  font-size: 60px;
  float: left;
  line-height: 40px;
  letter-spacing: -5px;
}
/* line 41, ../sass/screen.sass */
#one .part-two {
  color: #cccccc;
  right: 20%;
  top: 5em;
  z-index: 7;
}
/* line 47, ../sass/screen.sass */
#one .surf-1 {
  opacity: 0.2;
}
/* line 50, ../sass/screen.sass */
#one .surf-2 {
  opacity: 0.6;
}

/* line 53, ../sass/screen.sass */
#two {
  background-color: #0b2751;
  height: 800px;
  position: relative;
}
/* line 58, ../sass/screen.sass */
#two .content {
  position: relative;
}
/* line 61, ../sass/screen.sass */
#two .part-one {
  position: absolute;
  top: 260px;
  left: 1em;
  color: #eeeeee;
  font-size: 30px;
}
/* line 68, ../sass/screen.sass */
#two .part-two {
  position: absolute;
  top: 260px;
  right: 1em;
  color: #cccccc;
}
/* line 74, ../sass/screen.sass */
#two .part-three {
  position: absolute;
  top: 300px;
  right: 3em;
  color: #dddddd;
}
/* line 80, ../sass/screen.sass */
#two .crest {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 480px;
}

/* line 86, ../sass/screen.sass */
#three {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #057391), color-stop(80%, #80b5c1), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #057391 40%, #80b5c1 80%, #ffffff);
  background-image: -moz-linear-gradient(top, #057391 40%, #80b5c1 80%, #ffffff);
  background-image: -o-linear-gradient(top, #057391 40%, #80b5c1 80%, #ffffff);
  background-image: linear-gradient(top, #057391 40%, #80b5c1 80%, #ffffff);
  height: 600px;
}
/* line 90, ../sass/screen.sass */
#three .content {
  position: relative;
}
/* line 93, ../sass/screen.sass */
#three p {
  position: absolute;
}
/* line 96, ../sass/screen.sass */
#three .part-one {
  top: -4em;
  left: 2.5em;
  color: #dedede;
  font-size: 36px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
/* line 103, ../sass/screen.sass */
#three .part-two {
  top: 200px;
  right: 2em;
}
/* line 107, ../sass/screen.sass */
#three .part-three {
  top: 300px;
  right: 5em;
  font-size: 30px;
}

/* line 112, ../sass/screen.sass */
#four {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d8d598));
  background-image: -webkit-linear-gradient(top, #ffffff, #d8d598);
  background-image: -moz-linear-gradient(top, #ffffff, #d8d598);
  background-image: -o-linear-gradient(top, #ffffff, #d8d598);
  background-image: linear-gradient(top, #ffffff, #d8d598);
  position: relative;
}
/* line 116, ../sass/screen.sass */
#four .rock, #four .wave {
  position: absolute;
  bottom: 0px;
}
/* line 120, ../sass/screen.sass */
#four .rock {
  right: -30px;
}
/* line 123, ../sass/screen.sass */
#four .content {
  position: relative;
  height: 100%;
}
/* line 127, ../sass/screen.sass */
#four p {
  position: absolute;
}
/* line 130, ../sass/screen.sass */
#four .part-one {
  left: 1em;
  font-variant: italic;
}
/* line 134, ../sass/screen.sass */
#four .part-two {
  top: 290px;
  left: 24em;
}
/* line 138, ../sass/screen.sass */
#four .part-three {
  font-size: 30px;
  color: #333333;
  top: 320px;
  left: 16em;
  z-index: 10;
}
/* line 145, ../sass/screen.sass */
#four .part-four {
  color: #666666;
  top: 320px;
  right: 3em;
  z-index: 10;
}
/* line 151, ../sass/screen.sass */
#four .part-five {
  bottom: 1em;
  left: 4em;
  z-index: 10;
}

/* line 156, ../sass/screen.sass */
#five {
  background-color: #0d034f;
  position: relative;
}
/* line 160, ../sass/screen.sass */
#five p {
  position: absolute;
}
/* line 163, ../sass/screen.sass */
#five .soldiers {
  position: absolute;
  z-index: 2;
}
/* line 167, ../sass/screen.sass */
#five .part-one {
  left: 5em;
  top: 10px;
  font-size: 60px;
  color: #dddddd;
  z-index: 3;
}
/* line 173, ../sass/screen.sass */
#five .part-one:first-letter {
  color: white;
  font-family: "Georgia";
  font-size: 90px;
  float: left;
}
/* line 178, ../sass/screen.sass */
#five .part-two {
  right: 3em;
  top: 30px;
  font-size: 40px;
  color: #dddddd;
}
/* line 183, ../sass/screen.sass */
#five .part-three {
  left: 5em;
  top: 400px;
  z-index: 3;
  font-size: 30px;
}
/* line 188, ../sass/screen.sass */
#five .part-four {
  left: 15em;
  top: 440px;
  z-index: 3;
  font-size: 30px;
}
/* line 193, ../sass/screen.sass */
#five .part-five {
  right: 3em;
  top: 450px;
  z-index: 3;
  font-size: 24px;
}
/* line 198, ../sass/screen.sass */
#five .part-six {
  right: 2em;
  top: 480px;
  z-index: 3;
  font-size: 30px;
}

/* line 204, ../sass/screen.sass */
#six {
  height: 900px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d034f), color-stop(40%, #566896), color-stop(80%, #c1c2c6), color-stop(100%, #fffef0));
  background-image: -webkit-linear-gradient(top, #0d034f, #566896 40%, #c1c2c6 80%, #fffef0);
  background-image: -moz-linear-gradient(top, #0d034f, #566896 40%, #c1c2c6 80%, #fffef0);
  background-image: -o-linear-gradient(top, #0d034f, #566896 40%, #c1c2c6 80%, #fffef0);
  background-image: linear-gradient(top, #0d034f, #566896 40%, #c1c2c6 80%, #fffef0);
  position: relative;
  z-index: 1;
}
/* line 210, ../sass/screen.sass */
#six .part-one {
  position: absolute;
  top: 450px;
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: white;
  text-transform: lowercase;
}

/* line 219, ../sass/screen.sass */
#seven {
  height: 400px;
  overflow: hidden;
  position: relative;
  background-color: #fffef0;
}
/* line 225, ../sass/screen.sass */
#seven p {
  position: absolute;
}
/* line 228, ../sass/screen.sass */
#seven .part-one {
  font-size: 22px;
  left: 9em;
  top: 3em;
  color: #999999;
}
/* line 234, ../sass/screen.sass */
#seven .part-two {
  font-size: 22px;
  left: 20em;
  top: 3em;
}
/* line 239, ../sass/screen.sass */
#seven .part-three {
  font-size: 30px;
  right: 1em;
  top: 5em;
  z-index: 2;
  color: white;
  opacity: 0.9;
}
/* line 247, ../sass/screen.sass */
#seven .orange {
  position: absolute;
  bottom: -5px;
}

/* line 251, ../sass/screen.sass */
#eight {
  height: 500px;
  background-color: #d0920a;
  position: relative;
}
/* line 256, ../sass/screen.sass */
#eight .agamemnon {
  position: absolute;
  top: -30px;
  z-index: 2;
}
/* line 260, ../sass/screen.sass */
#eight p {
  position: absolute;
}
/* line 263, ../sass/screen.sass */
#eight .ranks {
  position: absolute;
  bottom: 0px;
  left: 240px;
  width: 100%;
  height: 380px;
  z-index: 100;
  opacity: 0.5;
  background-color: white;
}
/* line 273, ../sass/screen.sass */
#eight .part-one {
  top: 100px;
  left: 30em;
}
/* line 277, ../sass/screen.sass */
#eight .part-two {
  top: 100px;
  right: 10em;
}
/* line 281, ../sass/screen.sass */
#eight .part-three {
  top: 300px;
  width: 100%;
  text-align: center;
  z-index: 3;
  color: #dddddd;
  font-size: 40px;
  opacity: 0.8;
  margin-left: 3em;
}

/* line 291, ../sass/screen.sass */
#nine {
  height: 800px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(15%, #222222), color-stop(60%, #052733), color-stop(90%, #064960));
  background-image: -webkit-linear-gradient(top, #222222 15%, #052733 60%, #064960 90%);
  background-image: -moz-linear-gradient(top, #222222 15%, #052733 60%, #064960 90%);
  background-image: -o-linear-gradient(top, #222222 15%, #052733 60%, #064960 90%);
  background-image: linear-gradient(top, #222222 15%, #052733 60%, #064960 90%);
  position: relative;
  z-index: 1;
}
/* line 297, ../sass/screen.sass */
#nine p {
  position: absolute;
}
/* line 300, ../sass/screen.sass */
#nine .part-one {
  right: 20%;
  top: 300px;
  color: #eeeeee;
  font-size: 30px;
  opacity: 0.9;
}
/* line 307, ../sass/screen.sass */
#nine .part-two {
  right: 30%;
  top: 350px;
  color: #dddddd;
  font-size: 24px;
}
/* line 313, ../sass/screen.sass */
#nine .part-three {
  width: 100%;
  text-align: center;
  top: 900px;
  color: white;
  font-size: 44px;
  opacity: 0.8;
}

/* line 321, ../sass/screen.sass */
#end1 {
  height: 1000px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #064960), color-stop(33.33333%, #137ca0), color-stop(66.66667%, #9dddf4), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #064960, #137ca0, #9dddf4, #ffffff);
  background-image: -moz-linear-gradient(top, #064960, #137ca0, #9dddf4, #ffffff);
  background-image: -o-linear-gradient(top, #064960, #137ca0, #9dddf4, #ffffff);
  background-image: linear-gradient(top, #064960, #137ca0, #9dddf4, #ffffff);
}

/* line 325, ../sass/screen.sass */
#end2 {
  height: 500px;
  background-color: white;
  color: #222222;
  position: relative;
}
/* line 330, ../sass/screen.sass */
#end2 .text {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}
